.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  color: white;
}

.cardContent {
  background-color: rgba(107, 6, 138, 0.9);
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -25%;
  z-index: 3;
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }
}
