.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.itemDetails {
  flex-grow: 1;
}

.itemTitle {
  font-size: 1.25rem;
  color: #333;
}

.itemDescription {
  font-size: 0.875rem;
  color: #666;
}

.itemPriceSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemPrice {
  font-size: 1.5rem;
  color: purple;
  font-weight: bold;
}

.itemActions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndCounter {
  padding-top: 0; 
  padding-bottom: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.counterWrapper {
  display: flex;
  align-items: center;
}

.quantityLabel {
  margin-right: 0.5rem;
}
