.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;

  &.cancel {
    border-color: black;
    border-width: 1px;
    background-color: white;
    color: purple; 
  }

  &.action {
    border:none;
    background-color: purple;
    color: white; 

    &:hover {
      background-color: darken(purple, 10%);
    }
  }
}
